/*reset*/
* {
    /*Estilos genericos*/
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;

}

/*Estilos Generales*/
a {
    text-decoration: none;
}

.btn-outline-primary {
    --bs-btn-color: #140C0A;
    --bs-btn-border-color: #140C0A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #140C0A;
    --bs-btn-hover-border-color: #140C0A;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #140C0A;
    --bs-btn-active-border-color: #140C0A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #140C0A;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #140C0A;
    --bs-gradient: none;
}



/* Fuentes */
@font-face {
    font-family: BLKCHCRY;
    src: url(../Fonts/black_chancery/BLKCHCRY.TTF);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../Fonts/poppins/Poppins-Light.otf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(../Fonts/poppins/Poppins-ExtraLight.otf);
}

@font-face {
    font-family: jodie_garland\ Regular;
    src: url(../fonts/jodie_garland/Jodie\ Garland\ Regular.ttf);
}

@font-face {
    font-family: Whiteamour-Script;
    src: url(../fonts/whiteamour_san_serif/Whiteamour-Script-DEMO.otf);
}

@font-face {
    font-family: Whiteamour-SanSerif;
    src: url(../fonts/whiteamour_san_serif/Whiteamour-SanSerif-DEMO.otf);
}

@font-face {
    font-family: Reey;
    src: url(../fonts/reey/Reey-Regular.otf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../Fonts/poppins/Poppins-Regular.otf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../Fonts/poppins/Poppins-Medium.otf);
}

@font-face {
    font-family: Abdillah\FREE;
    src: url(../Fonts/abdillah/Abdillah\ FREE.otf);
}



/*Nav Bar*/
.navbar {
    background-color: #140C0A;
}


/*Textos*/
/* p{
    margin: 0%;
    padding: 5%;
    text-align:center ;
} */



/*Footer*/
.estfoot {
    background-color: #140C0A;
    margin: 0;
    display: flex;
}



/*Index*/

/* .index {
    background: linear-gradient(rgba(241, 242, 245, 0.75), rgba(241, 242, 245, 0.75)), url(../media/imagenesvarias/florian-klauer-mk7D-4UCfmg-unsplash.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

.grid_index {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.gal_index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ruff_es {
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.ruffina {
    width: 100%;
    font-family: Whiteamour-Script;
    text-align: center;
    font-size: 9.375rem;
    margin-top: 3.125rem;
    margin-bottom: 1.125rem;
    padding-top: .3125rem;
    padding-bottom: 3.125rem;
    justify-content: center;
}

.tamano {
    margin: 50px;
}

.text_ruff {
    width: 100%;
    font-family: Poppins-Light;
    font-size: medium;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    justify-content: center;
}

.qs {
    font-family: Poppins-Regular;
    text-align: left;
    font-size: 1.8rem;
    margin-top: 3.125rem;
    padding-top: .3125rem;

}

h2 {
    font-family: Poppins-medium;
    text-align: center;
    font-size: 2rem;
}




/*Tattoo*/


/*Bakery*/

/*Header*/
/* .hbk {
    background-image: url(../media/bakery/pexels-davide-baraldi-1739748.jpg);
    padding: 0;
    margin: 0%;
    background-size: cover;
    width: auto;
    height:31.25rem;
    background-repeat: no-repeat;
} */

/* textos */
.titulo_bakery {
    display: flex;
    margin: 3.125 0 3.125 0;
    padding: 2 rem;
    font-family: Abdillah\FREE;
    font-size: 10rem;
    color: #140C0A;
    text-align: center;
    justify-content: center;
    align-items: center;

}
    .hbk {
        width: 100%;
        text-align: justify;
        text-align: center;
        align-items: center;

    }

    .text-container {
        background-color: aqua;
    }






    /*Barber Shop*/

    /* Textos */
    .titulo_barbados {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding: 1.25rem;
        font-family: jodie_garland\ Regular;
        font-size: 7.81rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .sub_barb {
        margin-top: 2.5rem;
        padding: 1.25rem;
        font-family: Poppins-Light;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }

    h3.trabajos_barber {
        margin-top: 2.5rem;
        margin-bottom: 0;
        padding: 1.25rem;
        font-family: Poppins-Light;
        font-size: 2rem;
        text-align: center;
        justify-content: center;

    }

    .barpres {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding: 0.625rem;
        font-family: Poppins-Light;
        font-size: 1rem;
        text-align: center;
        justify-content: center;

    }

    em {
        font-family: Poppins-Medium;
        font-size: 1.2rem;
    }


    /* Galería de imagenes */

    .grid-galeria {
        display: flex;
        width: 50rem;
        height: 39.375rem;
        flex-shrink: 1;
        justify-content: center;


    }

    .grid-galeria {
        justify-content: center;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

    }

    .barber {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .2s ease;

    }

    .barber:hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }




    /*Art Galery*/

    /* Textos */
    .titulo_gal {
        display: flex;
        width: auto;
        height: 20rem;
        margin: 3.125rem;
        padding: .625rem;
        justify-content: center;
        align-content: center;

    }

    .name_gallery {
        width: 100%;
        margin: 3.125rem;

        font-family: Reey;
        font-size: 6.25rem;
        justify-content: center;
        text-align: center;


    }

    .artista {
        font-family: Poppins-Medium;
        font-size: 2rem;
        text-align: center;
        color: #140C0A;
        padding: .3125rem;
    }

    .obra {
        font-family: Poppins-Light;
        font-size: 1rem;

        text-align: left;
        color: #140C0A;
        padding: .625rem;

    }

    /* imágenes */
    .foto img {
        width: auto;
        height: 28.125rem;
        gap: .625rem;
    }

    .grid_galeriadearte {
        display: flex;
        width: 100%;
        margin: .32rem;
        padding: .625rem;
        justify-content: center;
        align-content: center;

    }

    .prueba_galeria {
        display: flex;
        width: 100%;
        margin: .32rem;
        padding: .625rem;
        justify-content: center;
        align-content: center;

    }

    .foto {
        margin: .32rem;
        padding: 0;
        justify-content: center;
    }

    /* .galeriadearte img {
    width: 18.75rem;
    height: 28.125rem;
    gap: .625rem;
}

.grid_descripcion {
    display: flex;
    margin: .32rem;
    padding: .625rem;
    justify-content: center;
    align-items: center;
}

.galeriadearte {

    margin: .625rem;
    padding: .3125rem;
    grid-area: grid_descripcion;

} */





    /*Contacto*/
    .reserva {
        width: 100%;
        padding: 20px 0 20px 0;
        margin: 0;
    }

    .titulo_reserva {
        margin: 0;
        padding: 20px 0 20px 0;
        text-align: left;
        font-family: Poppins-Medium;
        font-size: xx-large;

    }

    h5 {
        margin: 0;
        padding: 20px 0 5px 0;
        font-family: Poppins-Medium;
        text-align: left;
    }

    /* .comentarios{
    font-family: Poppins-Light;
}

#inputGroupSelect01,
.form-select,
.comentarios,
.input-group-text {
    font-family: Poppins-Light;
} */

    /* Grid Galeria de Arte*/

    /* .galeriadearte {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(5, 450px);
    column-gap: 30px;
    row-gap: 250px;
    justify-content: center;

    grid-template-areas:
        "grid_descripcion grid_descripcion grid_descripcion"
        "grid_descripcion grid_descripcion grid_descripcion"
        "grid_descripcion grid_descripcion grid_descripcion"
        "grid_descripcion grid_descripcion grid_descripcion"
        "grid_descripcion grid_descripcion grid_descripcion"
    ;
}


.grid_descripcion {
    display: grid;
    width: 300px;
    height: 450px;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, auto);
}

.grid_desccripcion2 {
    background-color: rgb(25, 18, 32);

} */


    /* Barbería */

    /* .grid-galeria{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 600px);
    grid-template-rows: repeat(2, 460x);
    gap: 10px;
}
.grid-galeria img{
    border-radius: 15px;
} */


    /* Media Queries */

    /* Mobile */

    @media screen and (max-widht:575px) {
        /* .grid-galeria img {
        width: 100%;
    } */

        /* .titulo_reserva {
        font-size: small;
        justify-content: center;
    } */
        .grid_galeriadearte {
            width: auto;
            justify-content: center;

        }


        /* .galeriadearte {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 2fr);

        grid-template-areas:
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
            "grid_descripcion"
        ;
    } */

        .name_gallery {
            font-size: .625rem;
            justify-content: center;
            position: absolute;
        }

    }

    /* Tablet y Escritorio */

    /* @media(min-widht:576px) and (max-widht:1199px){

} */