@charset "UTF-8";
/*Variables*/ /*Fuentes*/
@font-face {
  font-family: blkchry;
  src: url(../fonts/black_chancery/BLKCHCRY.TTF);
}
@font-face {
  font-family: poppins-light;
  src: url(../fonts/poppins/Poppins-Light.otf);
}
@font-face {
  font-family: poppins-extralight;
  src: url(../fonts/poppins/Poppins-ExtraLight.otf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../fonts/poppins/Poppins-Regular.otf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../fonts/poppins/Poppins-Medium.otf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/poppins/Poppins-Bold.otf);
}
@font-face {
  font-family: jodie_garlandregular;
  src: url(../fonts/jodie_garland/Jodie\ Garland\ Regular.ttf);
}
@font-face {
  font-family: whiteamour-script;
  src: url(../fonts/whiteamour_san_serif/Whiteamour-Script-DEMO.otf);
}
@font-face {
  font-family: whiteamour-sanSerif;
  src: url(../fonts/whiteamour_san_serif/Whiteamour-SanSerif-DEMO.otf);
}
@font-face {
  font-family: reey;
  src: url(../fonts/reey/Reey-Regular.otf);
}
@font-face {
  font-family: abdillah\f ree;
  src: url(../fonts/abdillah/Abdillah\ FREE.otf);
}
/*Variables*/
/*reset*/
* {
  /*Estilos genericos*/
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}

/*Estilos Generales*/
a {
  text-decoration: none;
}

.btn-outline-primary {
  --bs-btn-color:#140C0A;
  --bs-btn-border-color:#140C0A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #140C0A;
  --bs-btn-hover-border-color:#140C0A;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #140C0A;
  --bs-btn-active-border-color: #140C0A;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #140C0A;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #140C0A;
  --bs-gradient: none;
}

/*Nav Bar*/
.navbar {
  background-color: #140C0A;
}
.navbar .nav-item {
  font-family: poppins-extralight;
  font-size: small;
}

/*Footer*/
.estfoot {
  font-family: poppins-extralight;
  font-size: small;
  background-color: #140C0A;
  margin: 0;
  display: flex;
}

/*Botones*/
.btn {
  font-family: poppins-light;
}

/*Textos*/
em {
  font-family: poppins-bold;
  font-size: 1rem;
}

/*Background*/
body {
  min-height: 100hv;
  background: linear-gradient(rgba(247, 246, 255, 0.85), rgba(247, 246, 255, 0.85)), url(../media/imagenesvarias/optimizado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Index*/
.index-bg {
  min-height: 100hv;
  background: linear-gradient(rgba 7, 5, 12, 0.75, rgba(7, 5, 12, 0.75)) url(../media/imagenesvarias/optimizado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid_index {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.gal_index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruff_es {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.ruffina {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: whiteamour-script;
  font-size: 6rem;
  color: #140C0A;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #140C0A;
}

.tamano {
  margin: 0.5rem;
}

.text_ruff {
  width: 100%;
  font-family: poppins-light;
  font-size: medium;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding-top: 0.3125rem;
  padding-bottom: 2.5rem;
  justify-content: center;
  text-align: justify;
}

.qs {
  font-family: poppins-regular;
  text-align: left;
  font-size: 1.8rem;
  margin-top: 3.125rem;
  padding-top: 0.3125rem;
}

h2 {
  font-family: poppins-medium;
  text-align: center;
  font-size: 2rem;
}

/*Tattoo*/
/*Texto*/
.cont-tit {
  display: flex;
  flex-shrink: 1;
  margin-right: 7rem;
  margin-left: 7rem;
  gap: 1.25rem;
  padding: 1rem;
  justify-content: center;
}

.tit-tat {
  display: flex;
  margin: 1.25rem;
  font-family: blkchry;
  font-size: 6rem;
  color: #140C0A;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtit-tatto {
  padding: 1.875rem;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.col {
  padding: 0.625rem;
}
.col .subtit-tatto {
  justify-content: center;
  font-size: large;
  text-align: center;
  text-align: justify;
}

.img-port-tattoo {
  display: flex;
  width: 100%;
  height: 45rem;
}

/*Bakery*/
.hbk {
  width: 100%;
  text-align: justify;
  text-align: center;
  align-items: center;
}

/* textos */
.titulo_bakery {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: abdillah\f ree;
  font-size: 6rem;
  color: #140C0A;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #140C0A;
}

.pedido {
  height: 15rem;
  padding-top: 12rem;
}

/*Imagenes*/
h3.trabajos-cards {
  font-family: poppins-light;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.card.gal-boulangerie {
  height: 15rem;
  width: 12rem;
}

.col.boul {
  justify-content: center;
  padding: 1rem;
}

/*Barber Shop*/
/* Textos */
.sub_barb {
  display: flex;
  margin-top: 2.5rem;
  padding: 1.25rem;
  font-family: poppins-light;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo_barbados {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: jodie_garlandregular;
  font-size: 6rem;
  color: #140C0A;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #140C0A;
}

.barpres {
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-family: poppins-light;
  font-size: medium;
  text-align: center;
  text-align: justify;
  justify-content: center;
}

/* Galería de imagenes */
.grid-galeria {
  display: flex;
  width: 100%;
  height: 39.375rem;
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.barber {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.2s ease;
}
.barber:hover {
  cursor: crosshair;
  width: 18.75rem;
  opacity: 1;
  filter: contrast(120%);
}

/*Art Galery*/
/* Textos */
.titulo_gal {
  display: flex;
  width: auto;
  height: 20rem;
  margin: 3.125rem;
  padding: 0.625rem;
  justify-content: center;
  text-align: center;
  background-color: aqua;
}

.name_gallery {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
  font-family: reey;
  font-size: 5rem;
  color: #140C0A;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #140C0A;
}

.artista {
  font-family: poppins-medium;
  font-size: 2rem;
  text-align: center;
  color: #140C0A;
  padding: 0.3125rem;
}

.obra {
  font-family: poppins-light;
  font-size: 1rem;
  text-align: left;
  color: #140C0A;
  padding: 0.625rem;
}

/* imágenes */
.estilo-img {
  height: 25rem;
}

.foto img {
  width: auto;
  height: 28.125rem;
  gap: 0.625rem;
}

.grid_galeriadearte {
  display: flex;
  width: 100%;
  margin: 0.32rem;
  padding: 0.625rem;
  justify-content: center;
  align-content: center;
}

.prueba_galeria {
  display: flex;
  width: 100%;
  margin: 0.32rem;
  padding: 0.625rem;
  justify-content: center;
  align-content: center;
}

.foto {
  margin: 0.32rem;
  padding: 0;
  justify-content: center;
}

/*Contacto*/
.reserva {
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0;
}

.titulo_reserva {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: left;
  font-family: poppins-medium;
  font-size: xx-large;
}

h5 {
  margin: 0;
  padding: 20px 0 5px 0;
  font-family: poppins-medium;
  text-align: left;
}

.input-group-text {
  color: #140C0A;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

/* Media Queries */
/* Mobile */
@media screen and (max-widht: 575px) {
  /*Tattoo*/
  .tit-tat {
    font-size: 1rem;
  }
  /*barber*/
  .grid-galeria {
    display: flex;
    width: 50rem;
    height: 39.375rem;
    flex-shrink: 1;
    justify-content: center;
  }
  .titulo_barbados {
    font-size: x-large;
  }
  /*galeria de arte*/
  .name_gallery {
    font-size: 0.625rem;
    justify-content: center;
    position: absolute;
  }
  .grid_galeriadearte {
    width: auto;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */