@import "partials/variables";
@import "partials/fonts";
@import "partials/reset";
@import "partials/mixin";

/*Nav Bar*/
.navbar {
  background-color: $color-ruff;

  .nav-item {
    font-family: $fontfam-xlight;
    font-size: small;
  }
}

.logo-ruff {
  width: 3.125rem;
  height: 3.125rem;
}

.ruffina-name {
  font-family: whiteamour-script;
  font-size: 2rem;
}


/*Footer*/
.estfoot {
  font-family: $fontfam-xlight;
  font-size: small;
  background-color: $color-ruff;
  margin: 0;
  display: flex;
  justify-content: center;
}


/*Botones*/
.btn {
  font-family: $fontfam-light;
  border-radius: 1.2rem;
}


/*Textos*/
em {
  font-family: $fontfam-bold;
  font-size: 1rem;
}

/*Background*/
body {
  min-height: 100hv;
  background: linear-gradient(rgba(247, 246, 255, .85), rgba(247, 246, 255, .85)), url(../media/imagenesvarias/optimizado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*Index*/
.index-bg {
  min-height: 100hv;
  background: linear-gradient(rgba (7, 5, 12, .75), rgba(7, 5, 12, .75)) url(../media/imagenesvarias/optimizado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid_index {
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;

}

.gal_index {
  display: flex;
  justify-content: center;
  align-items: center;

}

.ruff_es {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.ruffina {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: whiteamour-script;
  font-size: 8rem;
  color: $color-ruff;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-ruff;
}

.tamano {
  margin: .5rem;
  margin-bottom: 2rem;
}

.text_ruff {
  width: 100%;
  font-family: $fontfam-light;
  font-size: $fontsizeparrafo;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding-top: .3125rem;
  padding-bottom: 2.5rem;
  justify-content: center;
  text-align: justify;
}

.text_ruff2 {
  width: 100%;
  font-family: $fontfam-light;
  font-size: $fontsizeparrafo;

  justify-content: center;
  text-align: justify;
}


.qs {
  font-family: $fontfam-regular;
  text-align: left;
  font-size: $fontsizetitulo2;
  margin-top: 3.125rem;
  padding-top: .3125rem;
}

.qs-c {
  font-family: $fontfam-regular;
  font-size: 1.6rem;
  margin-top: 5rem;
  padding-top: 2rem;
  text-align: center;
  text-align: center;
 
}

h2 {
  font-family: $fontfam-medium;
  text-align: center;
  font-size: 2rem;
}



/*Tattoo*/

/*Texto*/
.cont-tit {
  display: flex;
  flex-shrink: 1;
  margin-right: 7rem;
  margin-left: 7rem;
  gap: 1.25rem;
  padding: 1rem;
  justify-content: center;

}

.tit-tat {
  display: flex;
  margin: 1.25rem;
  font-family: blkchry;
  font-size: $fontsizetitulo;
  color: $color-ruff;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtit-tatto {
  padding: 1.875rem;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.col {

  padding: .625rem;

  .subtit-tatto {
    justify-content: center;
    font-size: large;
    text-align: center;
    text-align: justify;
  }

}

/*Imágenes tattoo*/
.img-port-tattoo {
  display: flex;
  width: 100%;
  height: 45rem;
}






/*Bakery*/

.hbk {
  width: 100%;
  text-align: justify;
  text-align: center;
  align-items: center;
}

/* textos */
.titulo_bakery {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: abdillah\free;
  font-size: $fontsizetitulo;
  color: $color-ruff;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-ruff;
}

.pedido {
  height: 15rem;
  padding-top: 12rem;

}

/*Imagenes*/
h3.trabajos-cards {
  font-family: $fontfam-light;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.card.gal-boulangerie {
  height: 15rem;
  width: 12rem;
}

.col.boul {
  justify-content: center;
  padding: 1rem;
}






/*Barber Shop*/

/* Textos */
.sub_barb {
  display: flex;
  margin-top: 2.5rem;
  padding: 1.25rem;
  font-family: $fontfam-light;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo_barbados {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: jodie_garland\regular;
  font-size: $fontsizetitulo;
  color: $color-ruff;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-ruff;
}

.barpres {
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-family: $fontfam-light;
  font-size: medium;
  text-align: center;
  text-align: justify;
  justify-content: center;
}
.barpres2 {
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $fontfam-light;
  font-size: medium;
  text-align: center;
  text-align: justify;
  justify-content: center;
}

/* Galería de imagenes */

.grid-galeria {
  display: flex;
  @include size (100%, 39.375rem);
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.barber {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .1s ease;

  &:hover {
    cursor: crosshair;
    width: 18.75rem;
    opacity: 1;
    filter: contrast(120%);
  }
}


/*Art Galery*/

/* Textos */
.titulo_gal {
  display: flex;
  @include size (auto, 20rem);
  margin: 3.125rem;
  padding: .625rem;
  justify-content: center;
  text-align: center;
  background-color: aqua;
}

.name_gallery {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
  font-family: reey;
  font-size: 5rem;
  color: $color-ruff;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-ruff;
}

.artista {
  font-family: $fontfam-medium;
  font-size: 2rem;
  text-align: center;
  color: $color-ruff;
  padding: .3125rem;
}

.obra {
  font-family: $fontfam-light;
  font-size: 1rem;
  text-align: left;
  color: $color-ruff;
  padding: .625rem;
}

/* imágenes */
.estilo-img {
  height: 25rem;

}


.foto img {
  width: auto;
  height: 28.125rem;
  gap: .625rem;
}

.grid_galeriadearte {
  display: flex;
  width: 100%;
  margin: .32rem;
  padding: .625rem;
  justify-content: center;
  align-content: center;
}

.prueba_galeria {
  display: flex;
  width: 100%;
  margin: .32rem;
  padding: .625rem;
  justify-content: center;
  align-content: center;
}

.foto {
  margin: .32rem;
  padding: 0;
  justify-content: center;
}



/*Contacto*/
.formulario {
  margin-bottom: 2.50rem;
}

.reserva {
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0;
}

.titulo_reserva {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: left;
  font-family: $fontfam-medium;
  font-size: xx-large;
}

h5 {
  margin: 0;
  padding: 20px 0 5px 0;
  font-family: $fontfam-medium;
  text-align: left;
}

.input-group-text {
  color: $color-ruff;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.form-check-input:focus {
  border-color: #201310c7;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($color-ruff, 0.25);
}

.form-check-input:checked {
  background-color: $color-ruff;
  border-color: $color-ruff;
}

.form-select:focus {
  border-color: #201310c7;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($color-ruff, 0.25);
}
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba($color-ruff, 0.25);
}
.form-check-input:checked {
  background-color: $color-ruff;
  border-color:$color-ruff;
}






/* Media Queries */
@import "partials/queries";