@import "partials/variables";
@import "partials/fonts";
@import "partials/reset";
@import "partials/mixin";

/*Nav Bar*/
.navbar {
  background-color: $color-ruff;

  .nav-item {
    font-family: $fontfam-xlight;
    font-size: small;
  }
}

/*Footer*/
.estfoot {
  font-family: $fontfam-xlight;
  font-size: small;
  background-color: $color-ruff;
  margin: 0;
  display: flex;
}

/*Botones*/
.btn {
  font-family: $fontfam-light;
}

/*Textos*/
em {
  font-family: $fontsize-bold;
  font-size: 1rem;
}

/*Index*/

.grid_index {
  display: flex;
  @include size (100%);
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.gal_index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruff_es {
  @include size (100%);
  margin: 0;
  padding: 1rem;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.ruffina {
  @include size (100%);
  font-family: whiteamour-script;
  text-align: center;
  font-size: 9.375rem;
  margin-top: 3.125rem;
  margin-bottom: 1.125rem;
  padding-top: .3125rem;
  padding-bottom: 3.125rem;
  justify-content: center;
}

.tamano {
  margin: 50px;
}

.text_ruff {
  @include size (100%);
  font-family: $fontfam-light;
  font-size: $fontsizeparrafo;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding-top: .3125rem;
  padding-bottom: 2.5rem;
  justify-content: center;
  text-align: justify;
}

.qs {
  font-family: $fontfam-regular;
  text-align: left;
  font-size: $fontsizetitulo2;
  margin-top: 3.125rem;
  padding-top: .3125rem;
  text-align: justify;
}

h2 {
  font-family: $fontfam-medium;
  text-align: center;
  font-size: 2rem;
}



/*Tattoo*/

/*Texto*/
.tit-tat {
  @include size (100%);
  font-family: blkchry;
  font-size: $fontsizetitulo;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtit-tatto {
  padding: 1.875rem;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.col {

  padding: .625rem;

  .subtit-tatto {
    justify-content: center;
    font-size: large;
    text-align: center;
    text-align: justify;
  }

}



/*Bakery*/

/* textos */
.titulo_bakery {
  display: flex;
  margin: 3.125;
  padding: 2 rem;
  font-family: abdillah\free;
  font-size: $fontsizetitulo;
  color: $color-ruff;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.hbk {
  @include size (100%);
  text-align: justify;
  text-align: center;
  align-items: center;
}


.display-1 {
  font-size: calc(8rem + 4.5vw);
  font-weight: 18.75rem;
  line-height: 1.2;
}

/*Barber Shop*/

/* Textos */
.sub_barb {
  display: flex;
  margin-top: 2.5rem;
  padding: 1.25rem;
  font-family: $fontfam-light;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo_barbados {
  display: flex;
  margin: 1.25rem;
  font-family: jodie_garland\regular;
  font-size: $fontsizetitulo;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;

}

h3.trabajos_barber {
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding-top: 3.25rem;
  font-family: $fontfam-light;
  font-size: 1.8rem;
  text-align: left;
  justify-content: center;
}

.barpres {
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-family: $fontfam-light;
  font-size: medium;
  text-align: center;
  text-align: justify;
  justify-content: center;
}

/* Galería de imagenes */

.grid-galeria {
  display: flex;
  @include size (100%, 399.375rem);
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.barber {
  @include size (0);
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .2s ease;

  &:hover {
    cursor: crosshair;
    @include size (18.75rem);
    opacity: 1;
    filter: contrast(120%);
  }
}


/*Art Galery*/

/* Textos */
.titulo_gal {
  display: flex;
  @include size (auto,20rem);
  margin: 3.125rem;
  padding: .625rem;
  justify-content: center;
  align-content: center;
  background-color: aqua;
}

.name_gallery {
  @include size (auto);
  margin: 3.125rem;
  padding: 2rem;
  font-family: reey;
  font-size: $fontsizetitulo;
  justify-content: center;
  text-align: center;

}

.artista {
  font-family: $fontfam-medium;
  font-size: 2rem;
  text-align: center;
  color: $color-ruff;
  padding: .3125rem;
}

.obra {
  font-family: $fontfam-light;
  font-size: 1rem;
  text-align: left;
  color: $color-ruff;
  padding: .625rem;
}

/* imágenes */
.foto img {
  @include size (auto);
  height: 28.125rem;
  gap: .625rem;
}

.grid_galeriadearte {
  display: flex;
  @include size (100%);
  margin: .32rem;
  padding: .625rem;
  justify-content: center;
  align-content: center;
}

.prueba_galeria {
  display: flex;
  @include size (100%);
  margin: .32rem;
  padding: .625rem;
  justify-content: center;
  align-content: center;
}

.foto {
  margin: .32rem;
  padding: 0;
  justify-content: center;
}



/*Contacto*/

.reserva {
  @include size (100%);
  padding: 20px 0 20px 0;
  margin: 0;
}

.titulo_reserva {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: left;
  font-family: $fontfam-medium;
  font-size: xx-large;
}

h5 {
  margin: 0;
  padding: 20px 0 5px 0;
  font-family: $fontfam-medium;
  text-align: left;
}

.input-group-text {
  color: $color-ruff;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

/* Media Queries */
@import "partials/queries";