/* Fuentes */
@font-face {
    font-family: blkchry;
    src: url(../Fonts/black_chancery/BLKCHCRY.TTF);
  }
  
  @font-face {
    font-family: poppins-light;
    src: url(../Fonts/poppins/Poppins-Light.otf);
  }
  
  @font-face {
    font-family: poppins-extralight;
    src: url(../Fonts/poppins/Poppins-ExtraLight.otf);
  }
  
  @font-face {
    font-family: poppins-regular;
    src: url(../Fonts/poppins/Poppins-Regular.otf);
  }
  
  @font-face {
    font-family: poppins-medium;
    src: url(../Fonts/poppins/Poppins-Medium.otf);
  }
  
  @font-face {
    font-family: poppins-bold;
    src: url(../fonts/poppins/Poppins-Bold.otf);
  }
  
  @font-face {
    font-family: jodie_garland\regular;
    src: url(../fonts/jodie_garland/Jodie\ Garland\ Regular.ttf);
  }
  
  @font-face {
    font-family: whiteamour-script;
    src: url(../fonts/whiteamour_san_serif/Whiteamour-Script-DEMO.otf);
  }
  
  @font-face {
    font-family: whiteamour-sanSerif;
    src: url(../fonts/whiteamour_san_serif/Whiteamour-SanSerif-DEMO.otf);
  }
  
  @font-face {
    font-family: reey;
    src: url(../fonts/reey/Reey-Regular.otf);
  }
  
  @font-face {
    font-family: abdillah\free;
    src: url(../Fonts/abdillah/Abdillah\ FREE.otf);
  }
  