/*Fuentes*/
@font-face {
  font-family: blkchry;
  src: url(../fonts/black_chancery/BLKCHCRY.TTF);
}

@font-face {
  font-family: poppins-light;
  src: url(../fonts/poppins/Poppins-Light.otf);
}

@font-face {
  font-family: poppins-extralight;
  src: url(../fonts/poppins/Poppins-ExtraLight.otf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../fonts/poppins/Poppins-Regular.otf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../fonts/poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/poppins/Poppins-Bold.otf);
}

@font-face {
  font-family: jodie_garland\regular;
  src: url(../fonts/jodie_garland/Jodie\ Garland\ Regular.ttf);
}

@font-face {
  font-family: whiteamour-script;
  src: url(../fonts/whiteamour_san_serif/Whiteamour-Script-DEMO.otf);
}

@font-face {
  font-family: whiteamour-sanSerif;
  src: url(../fonts/whiteamour_san_serif/Whiteamour-SanSerif-DEMO.otf);
}

@font-face {
  font-family: reey;
  src: url(../fonts/reey/Reey-Regular.otf);
}

@font-face {
  font-family: abdillah\free;
  src: url(../fonts/abdillah/Abdillah\ FREE.otf);
}