/* Mobile */

@media screen and (max-widht:575px) {

  /*Tattoo*/
  .tit-tat {
  font-size:1rem;
   }

  /*barber*/
  .grid-galeria {
    display: flex;
    width: 50rem;
    height: 39.375rem;
    flex-shrink: 1;
    justify-content: center;
  }

  .titulo_barbados {
    font-size: x-large;
  }

  /*galeria de arte*/
  .name_gallery {
    font-size: .625rem;
    justify-content: center;
    position: absolute;
  }

  .grid_galeriadearte {
    width: auto;
    justify-content: center;
  }
}
