/*Variables*/

//tamaño de fuente
$fontsizetitulo: 6rem;
$fontsizeparrafo:medium;
$fontsizetitulo2:1.8rem;


//tipo de fuente
$fontfam-xlight: poppins-extralight;
$fontfam-light: poppins-light;
$fontfam-medium: poppins-medium;
$fontfam-regular:poppins-regular;
$fontfam-bold: poppins-bold;


//color
$color-ruff:#140C0A;